# OPENAI API KEY
OPENAI_API_KEY=sk-proj-........_wA
# QDrant Database Configuration
#QDRANT_URL=http://localhost:6333
#QDRANT_COLLECTION=docs-index
#EMBEDDING_SIZE=1536

# Logging levels
# DEBUG | INFO | WARNING | ERROR

LOG_LEVEL=WARNING        # Overall app log level
LOG_CONSOLE_LEVEL=INFO   # Terminal output
LOG_FILE_LEVEL=DEBUG     # logs/server.log
~                                            
